/* Estilos globais */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #fedb96;
   color: #9f5817;
}

header {
   background-color: #e0af56;
   padding: 10px 0;
}

header nav ul {
   list-style: none;
   padding: 0;
   text-align: center;
}

header nav ul li {
  display: inline;
  margin-right: 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover { 
    text-decoration: underline;
}
  
main {
    padding: 20px;
    text-align: center;
}
  
footer {
    background-color: #e0af56;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section { 
    padding:30px 70px;

}

img {
    width: 30% ;
    height: auto;
}